<h2 mat-dialog-title>Add New Product</h2>
<mat-dialog-content>
<form [formGroup]='productForm' class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Company" aria-label="Number" matInput [formControl]="companyName" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let company of filteredCompanies " [value]="company.name">
        {{company.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Product name" formControlName = 'name'>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" formControlName='description'>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Unit" formControlName='unit'>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Profit %" formControlName='percentProfit'>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Other Details" formControlName='otherDetails'>
  </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>

