mat-icon{
    font-size: 20px;
    color: blue;
}

.form-control {
    height:30px;
    border-radius: .5rem;
    width: 300px;
    padding : 0px;
}

table{
    width:100%;
    
}
th, td{
    padding:1px;
}
button{
    margin : 2px 2px ;
}
.actionrow{
    width:5%;
}
mat-row:nth-child(even){
    background-color:red;
    }

mat-row:nth-child(odd){
    background-color:black;
    }
.middle{
    text-align: center;
    vertical-align: middle;
}    