<h2 mat-dialog-title>Add New Purchase Order </h2>
<mat-dialog-content>
  <form [formGroup]="purchaseOrder">
    <mat-form-field>
      <input matInput placeholder="Invoice Number" formControlName="invoiceNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="receivedDate" placeholder="Choose a date" formControlName="receivedDate">
      <mat-datepicker-toggle matSuffix [for]="receivedDate"></mat-datepicker-toggle>
      <mat-datepicker #receivedDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="deliveryDate" placeholder="Choose a date" formControlName="deliveryDate">
      <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
      <mat-datepicker #deliveryDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="otherDetails" formControlName="otherDetails">
    </mat-form-field>
    <h4>Items in the Purchase Order </h4>
    <div formArrayName="purchaseOrderItems">
      <div *ngFor="let item of purchaseOrder.controls.purchaseOrderItems.controls; let i=index;" [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="product" formControlName="productId">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="amount" formControlName="unitAmount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="price" formControlName="unitPurchasePrice">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="deletePoItem(i)">Del</button>
      </div>
      <button mat-raised-button color="primary" (click)="addPoItem()">Add Item</button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Save &amp; Close</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>