<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Products</h5>
                </div>
                <div class="col-3">
                    <input type="text" placeholder="Filter Products" class="form-control" (input)="searchProduct($event.target.value)">
                </div>
                <div class="col-3">
                        <button type="button" class="btn btn-primary btn-sm" (click)="openDialog()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Manufacturer</th>
                                    <th>Description</th>
                                    <th>Stock</th>
                                    <th class="actionrow">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products">
                                    <td>{{item.name}}</td>
                                    <td>{{item.manufacturer.name}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.inStock}}</td>
                                    <td >
                                        <button type="button" class="btn btn-primary btn-sm " (click)="openDialog(item)"><mat-icon>create</mat-icon></button>
                                        <button type="button" class="btn btn-primary btn-sm " (click)="deleteItem(item)"><mat-icon>delete</mat-icon></button>

                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>